<app-navbar></app-navbar>
<div class="flex justify-center items-center h-screen">
  <div *ngIf="!showRegisterForm">
    <app-login></app-login>
    <button (click)="toggleRegisterForm()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md">Register</button>
  </div>
  <div *ngIf="showRegisterForm">
    <app-register (registerSuccess)="handleRegistration($event)"></app-register>
    <button (click)="toggleRegisterForm()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md">Back to Login</button>
  </div>
</div>
