<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <div *ngFor="let user of users" class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
    <h3 class="text-lg font-bold text-gray-900">{{ user.name }}</h3>
    <p class="text-gray-700"><strong>RUT:</strong> {{ user.rut }}</p>
    <p class="text-gray-700"><strong>Correo electrónico:</strong> {{ user.email }}</p>
    <p class="text-gray-700"><strong>Fecha de nacimiento:</strong> {{ user.birthdate }}</p>
    <p class="text-gray-700"><strong>Género:</strong> {{ user.gender }}</p>
    <p class="text-gray-700"><strong>Habilitado:</strong> {{ user.enabled ? 'Sí' : 'No' }}</p>
  </div>
</div>
